{
  "parser": "@typscript-eslint/parser",
  "parserOptions": {
    "ecmaVersioin": 2020
  },
  "extends": [
    "plugin:@typescript-eslint/recommended",
    "prettier/@typescript-eslint",
    "plugin:prettier/recommended"
  ]
}
